body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fffafc;
  color: #333;
}

/* En-tête */
header {
  background-color: #f4e1f0;
  display: flex;
  justify-content: space-between;
  align-items: center;padding: 15px 40px;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

header h1 {
  color: #a83279;
  margin: 0;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav a:hover {
  color: #a83279;color: #333;
  font-weight: bold;
}

nav a:hover {
  color: #a83279;
}